@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

:root {
  --marcado: rgb(127, 195, 255);
  --color-primario: #1976D2;
  --gris-oscuro: #AAAAAA;
  --max-width: 1200px;
  --claro: #f6f6f9;
  --oscuro: #363949;
  --gray-dark-color: #666;
  --gold: #FFD601;
  --nav: #030617
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--nav);
}

.navbar {
  font-size: 0.75em;
}


nav div ul {
  margin-left: auto;
  padding-right: 5rem;
}


nav>div>a>img {
  width: 200px;
  height: auto;

}

.logo {
  cursor: pointer;
  padding-left: 5rem;
}

.menu {
  display: flex;
  margin-right: 5rem;
  list-style: none;
  gap: 2rem;
}


/* .menu-btn {
  cursor: pointer;
  color: var(--claro);
  font-size: 2rem;
  display: none;
} */


.enlace {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  --bs-navbar-active-color: var(--claro);
}

.enlace:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--gold);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.enlace:hover,
.enlace:focus,
.enlace:active {
  color: var(--gold);
}

.candidato:hover,
.candidato:focus,
.candidato:active {
  color: var(--nav);
}


.enlace:hover:before,
.enlace:focus:before,
.enlace:active:before {
  left: 0;
  right: 0;
}



.nav-link {
  color: var(--claro) !important;
}

.navbar-toggler {
  color: var(--nav);
  /* Cambia color del border del boton hamburguesa*/
  size: 1.40rem;
  margin-right: 0.50rem;
}

.enlace:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--gold);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

nav>div {
  margin-left: 0.5rem;
}

.menu-btn {
  display: initial;
}

.candidatos-responsive {
  display: none;
}

.dropdown-divider {
  border-top: 2px solid var(--gold);
  box-shadow: 0.5px 0.5px 0.5px 0px var(--oscuro);
}

@media (max-width: 992px) {

  .logo {
    cursor: pointer;
    padding-left: 0.5rem;
  }

  .menu {
    position: absolute;
    top: 7vh;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    gap: 1px;
    right: -50px;
  }

  .dropdown {
    display: none;
  }

  .candidatos-responsive {
    display: block;
  }

  .enlace {
    background-color: var(--nav);
    color: var(--claro);
    border-radius: 0;
    --bs-navbar-active-color: var(--claro);

  }

  .navbar-nav {
    text-align: end;
  }

  nav div ul {
    margin-left: auto;
    padding-right: 0.5rem;
  }

  /* ..... */
  .dropdown-menu ul li {
    margin-left: auto;
    padding-right: 0.5rem;
    position: relative;
    transform: none;


  }

  .dropdown-menu {
    margin-left: auto;
    padding-right: 0.6rem;
    text-align: end;
    --bs-dropdown-bg: var(--nav);
    width: max-content;
  }


  .menu.activo {
    opacity: 1;
    pointer-events: auto;
  }

  .navbar .navbar-toggler {
    background: var(--claro);
    /* Cambia "white" al color que desees */
  }

  .enlace {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    --bs-navbar-active-color: var(--claro);
  }

  /* .enlace:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--gold);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  } */
  .dropdown-menu::before {

    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    height: 100%;
    background: var(--gold);
    /* transition: width 0.3s ease-out; */
  }

  .dropdown-menu ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
  }

  .enlace:hover,
  .enlace:focus,
  .enlace:active {
    color: var(--gold);
  }

  .candidato:hover,
  .candidato:focus,
  .candidato:active {
    color: var(--nav);
  }


  .enlace:hover:before,
  .enlace:focus:before,
  .enlace:active:before {
    left: 0;
    right: 0;
  }





}