/* ACORDEON */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.5em;
}

.active,
.accordion:hover {
    background-color: #ccc;
    color: #030617;


}

.panel {
    padding: 0 18px;
    background-color: rgb(106, 106, 106);
    display: none;
    overflow: hidden;
}

.panel p,
.panel ul {
    color: black;
}