:root {
    --marcado: rgb(127, 195, 255);
    --color-primario: #1976D2;
    --gris-oscuro: #AAAAAA;
    --max-width: 1200px;
    --claro: #f6f6f9;
    --oscuro: #363949;
    --gray-dark-color: #666;
    --gold: #FFD601;
}

html {
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
    background:
        radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
    width: 100%;
}

.main{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 7vw;
}
.inicio{
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  margin-bottom: 75px;
}

.logo{
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.titulo-carrousel{
  align-items: center;
  border-top: 3px solid var(--gold);
  border-bottom: 3px solid var(--gold);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 220px;
  text-align: center;
  color: var(--claro);
  font-size: 1.5rem;
}

.carrusel {
  position: relative;
  overflow: hidden;
  padding: 20px;
  height: 400px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}


.contenedor-carrusel {
  padding: 0 10px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 40px;

}

.contenedor-carrusel::-webkit-scrollbar {
  display: none;
}

.slide {
  flex: 0 0 auto;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}


.candidato {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
  object-fit: cover;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.candidato:hover{
  box-shadow: 0 0 15px var(--gray-dark-color);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}


.pre-btn,
.nxt-btn {
  border: none;
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  opacity: 0.4;
  cursor: pointer;
  z-index: 8;
  border-radius: 15px;
  font-size: 1.5rem;
  color: var(--claro);
}

.pre-btn {
  left: 0;
}

.nxt-btn {
  right: 0;
}

.pre-btn,
.nxt-btn{
  opacity: 0.2;
}

.pre-btn:hover,
.nxt-btn:hover  {
  opacity: 1;
}


@media (width<800px) {
  .inicio{
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .logo{
    width: 30vw;
    height: auto;
  }

  .candidato{
    box-shadow: 0 0 15px var(--gray-dark-color);
    width: 200px;
    height: 200px;
  }

  .contenedor-carrusel{
    padding: 0;
  }
}
