/* #####################################
################FOOTER##################
######################################## */
:root{
    --c: #191b22;
}

address > b, i  {
    color: white;
}

.footer-1, .footer-3, .footer-3 p {
    background-color: var(--nav);
    border-radius: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    border: 0;
}

.footer-1 {
    padding: 12px;
}

.social-medias i {
    margin-inline: 5px;
}

.footer-2 {
    align-items: center;
    background-color: var(--c);
    height: 150px;
    display: flex;
    justify-content: space-evenly;
}

.footer-2-title{
    font-size: 40px;
}

.footer-3 {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.no-decoration {
    text-decoration: none;
}

.no-decoration > a {
    text-decoration: none;
}

.footer-item {
    text-align: start;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* ############################# */


.contenedor-footer{
    text-align: center;
    border: 0;
}