@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

:root {
  --marcado: rgb(127, 195, 255);
  --color-primario: #1976D2;
  --gris-oscuro: #AAAAAA;
  --max-width: 1200px;
  --claro: #f6f6f9;
  --oscuro: #363949;
  --gray-dark-color: #666;
  --gold: #FFD601;
  --nav: #030617
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--nav);
}

.navbar {
  font-size: 12px;
}

nav>div {
  margin-left: 5rem;
}

nav>div>a>img {
  width: 200px;
  height: auto;

}

.logo {
  cursor: pointer;
}

.menu {
  display: flex;
  margin-right: 5rem;
  list-style: none;
  gap: 2rem;
}


.menu-btn {
  cursor: pointer;
  color: var(--claro);
  font-size: 2rem;
  display: none;

}

.enlace {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Inknut Antiqua', serif;
  color: var(--claro);
  padding: 3px;
  border-radius: 5px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.enlace:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--claro);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.enlace:hover,
.enlace:focus,
.enlace:active {
  color: var(--nav);
}

.enlace:hover:before,
.enlace:focus:before,
.enlace:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

@media (max-width: 1065px) {

  nav>div {
    margin-left: 0;
  }

  .menu-btn {
    display: initial;
  }

  .menu {
    position: absolute;
    top: 7vh;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    gap: 1px;
    right: -50px;
  }

  .enlace {
    background-color: var(--claro);
    color: var(--nav);
    border-radius: 0;
  }

  .enlace:before {
    background: var(--nav);
  }

  .enlace:hover,
  .enlace:focus,
  .enlace:active {
    color: var(--claro);
  }

  .menu.activo {
    opacity: 1;
    pointer-events: auto;
  }
}